:root {
  --border-radius: 0.4rem;

  --colors-primary: #0e68e3;
  --colors-secondary: #023e8a;
  --colors-white: #fff;
}

html {
  box-sizing: border-box;

  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #f6f6f8;

  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;

  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

ul {
  list-style-type: none;

  margin: 0;
  padding: 0;
}

a {
  color: unset;

  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;

  object-fit: cover;
}

@media (min-width: 280px) {
  body {
    font-size: 1.4rem;
  }
}

@media (min-width: 340px) {
  body {
    font-size: 1.6rem;
  }
}

@media (min-width: 1500px) {
  body {
    font-size: 1.8rem;
  }
}

/* -------------------------------------------------------------------------- */
/* MENU */
/* -------------------------------------------------------------------------- */

.menu {
  background-color: var(--colors-primary);

  color: var(--colors-white);

  margin-bottom: 3rem;
}

.menu__list {
  display: flex;
  flex-direction: column;

  padding: 2rem 3rem;
}

.menu__list-item:not(:last-child) {
  margin-bottom: 2rem;
}

@media (min-width: 576px) {
  .menu__list {
    margin: 0 auto;

    max-width: 120rem;

    display: flex;
    flex-direction: row;
  }

  .menu__list-item:not(:last-child) {
    margin: 0;
    margin-right: 2rem;
  }
}

@media (min-width: 1500px) {
  .menu__list {
    margin: 0 auto 3rem;

    max-width: 150rem;
  }
}

/* -------------------------------------------------------------------------- */
/* MAIN */
/* -------------------------------------------------------------------------- */

.main {
  padding: 0 2rem;
}

.main__title {
  margin: 0;
  margin-bottom: 3rem;
}

@media (min-width: 340px) {
  .main {
    padding: 0 3rem;
  }
}

@media (min-width: 1200px) {
  .main {
    margin: 0 auto;

    max-width: 120rem;
  }
}

@media (min-width: 1500px) {
  .main {
    max-width: 150rem;
  }
}

/* -------------------------------------------------------------------------- */
/* HOME SECTIONS */
/* -------------------------------------------------------------------------- */

.section-a,
.section-b,
.section-c,
.section-d {
  margin-bottom: 2rem;
}

/* -------------------------------------------------------------------------- */
/* SECTION TITLE */
/* -------------------------------------------------------------------------- */

.section-title {
  margin: 0;
  margin-bottom: 1.5rem;

  width: 100%;
}

/* -------------------------------------------------------------------------- */
/* TAG LIST */
/* -------------------------------------------------------------------------- */

.tag-list {
  display: flex;
  flex-wrap: wrap;

  gap: 0.5rem;

  margin-bottom: 1.5rem;
}

/* -------------------------------------------------------------------------- */
/* TAG */
/* -------------------------------------------------------------------------- */

.tag__input {
  display: none;
}

.tag__icon {
  margin-right: 0.5em;
}

.tag__content {
  background: var(--colors-primary);

  border-radius: var(--border-radius);

  color: var(--colors-white);

  cursor: pointer;

  display: inline-block;

  padding: 1rem;
}

.tag__input:checked + .tag__content {
  background: var(--colors-secondary);
}

/* -------------------------------------------------------------------------- */
/* POST LIST */
/* -------------------------------------------------------------------------- */

.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));

  gap: 2rem;
}

/* -------------------------------------------------------------------------- */
/* POST */
/* -------------------------------------------------------------------------- */

.post__link {
  display: inline-block;
}

.post {
  background-color: var(--colors-primary);

  border-radius: var(--border-radius);

  color: var(--colors-white);
}

.post__content {
  padding: 1rem;
}

.post__data {
  display: flex;
  flex-wrap: wrap;

  gap: 1rem;
}

.post__title {
  font-size: 1.2em;
  font-weight: 700;

  margin: 0;
  margin-bottom: 1rem;

  overflow-wrap: break-word;
}

.post__data-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post__data-icon {
  margin-right: 0.5em;
}

.post__data-text {
  margin: 0;
}

/* -------------------------------------------------------------------------- */
/* EMPTY POST LIST */
/* -------------------------------------------------------------------------- */

.empty-post-list {
  margin: 0;

  grid-column: 1 / span 2;
}

/* -------------------------------------------------------------------------- */
/* POST MANAGER */
/* -------------------------------------------------------------------------- */

.post-manager__title {
  max-width: 50rem;

  margin: 0 auto 3rem;
}

.post-manager {
  max-width: 50rem;

  margin: 0 auto;
}

.post-manager__container {
  display: flex;
  flex-direction: column;
}

.post-manager__container:not(:last-child),
.post-manager__row:not(:last-child) {
  margin-bottom: 2rem;
}

.post-manager__form-label,
.post-manager__form-legend {
  font-weight: 700;

  margin-bottom: 0.8rem;
}

.post-manager__form-input,
.post-manager__form-textarea,
.post-manager__form-select {
  font-size: 600;

  line-height: 1.5;

  outline: none;

  padding: 0.8rem 1.5rem;
}

.post-manager__form-textarea {
  resize: vertical;
}

.post-manager__form-fieldset {
  border: none;

  display: flex;

  gap: 1rem;

  margin: 0;
  padding: 0;

  flex-wrap: wrap;
}

.post-manager__form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;
}

.post-manager__button {
  background-color: var(--colors-primary);

  border: none;
  border-radius: var(--border-radius);

  color: var(--colors-white);

  letter-spacing: 0.1rem;

  margin: 2rem 0;
  padding: 1.5rem;

  text-transform: uppercase;

  width: 100%;

  outline: none;

  cursor: pointer;
}

@media (min-width: 576px) {
  .post-manager__row {
    display: flex;

    gap: 2rem;
  }

  .post-manager__row > .post-manager__container {
    flex: 1;
  }

  .post-manager__form-input {
    width: 100%;
  }
}

/* -------------------------------------------------------------------------- */
/* MAIN POST TITLE */
/* -------------------------------------------------------------------------- */

.main-post {
  max-width: 50rem;

  margin: 0 auto;
}

.main-post__title {
  margin-bottom: 0.5rem;

  overflow-wrap: break-word;
}

.main-post__sub-title {
  margin: 0;
  margin-bottom: 1.5rem;

  overflow-wrap: break-word;
}

.main-post__image {
  border-radius: 0.8rem;
}

.main-post__body {
  line-height: 1.5;

  overflow-wrap: break-word;
}

.main-post__info {
  display: flex;
  flex-wrap: wrap;

  gap: 1.5rem;

  margin-bottom: 2rem;
}

.main-post__info-container {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 0.5rem;
}

.main-post__info-container {
  color: var(--colors-primary);
}

.main-post__info-container:nth-child(1) {
  cursor: pointer;

  transition: color 0.2s ease-in;
}

.main-post__info-container:nth-child(1):hover {
  color: rgb(228, 27, 37);
}

.main-post__info-text {
  margin: 0;
}

.main-post__comment-list {
  margin-bottom: 2rem;
}

.main-post__comment-list-title {
  margin-bottom: 1rem;
}

/* -------------------------------------------------------------------------- */
/* MAIN COMMENT MAKER */
/* -------------------------------------------------------------------------- */

.main-post__comment-maker {
  margin-bottom: 2rem;
}

.main-post__comment-maker-title {
  margin-bottom: 1rem;
}

/* -------------------------------------------------------------------------- */
/* MAIN ACTIONS */
/* -------------------------------------------------------------------------- */

.main-actions {
  max-width: 50rem;

  position: sticky;

  bottom: 0;

  display: flex;

  margin: 0 auto 1em;
}

.main-actions__button {
  border: none;

  color: var(--colors-white);

  cursor: pointer;

  font-weight: 700;

  outline: none;

  padding: 1em;
}

.main-actions__edit-link {
  flex: 1;
}

.button--edit {
  background-color: var(--colors-primary);

  border-top-left-radius: var(--border-radius);

  width: 100%;
}

.button--delete {
  background-color: var(--colors-secondary);

  border-top-right-radius: var(--border-radius);
}

@media (min-width: 1200px) {
  .main-actions {
    position: static;
  }
}

/* -------------------------------------------------------------------------- */
/* COMMENT */
/* -------------------------------------------------------------------------- */

.comment:not(:last-child) {
  margin-bottom: 2rem;
}

.comment__info {
  margin: 0;
  margin-bottom: 1rem;

  color: var(--colors-primary);
}

.comment__body {
  margin: 0;
  margin-left: 1.2em;
}

/* -------------------------------------------------------------------------- */
/* SEARCH POST */
/* -------------------------------------------------------------------------- */

.post-search {
  margin-bottom: 2rem;

  max-width: 50rem;
}

.post-search::after {
  background: var(--colors-primary);

  border-radius: var(--border-radius);

  content: '';

  display: block;

  height: 0.4rem;
}

.post-search__label {
  font-weight: 700;
}

.post-search__input {
  border-radius: var(--border-radius);

  border: none;

  background: transparent;

  margin-top: 1rem;

  padding: 0.5rem 1.5rem;

  line-height: 1.5;

  width: 100%;

  outline: none;
}

/* -------------------------------------------------------------------------- */
/* FORM COMMENT MAKER */
/* -------------------------------------------------------------------------- */

.form-comment-maker__input,
.form-comment-maker__select {
  outline: none;
}

.form-comment-maker__label {
  color: var(--colors-primary);
}

.form-comment-maker__select {
  padding: 1rem 0;

  margin-left: 1em;

  border-radius: var(--border-radius);
}

.form-comment-maker__input {
  background-color: transparent;

  border: none;
  border-bottom: 0.4rem solid var(--colors-secondary);

  line-height: 1.5;

  margin-left: 2em;
  margin-top: 0.5em;

  padding: 0.5rem 2rem;

  width: calc(100% - 2em);
}

.form-comment-maker__button {
  background-color: var(--colors-primary);

  border: none;
  border-radius: var(--border-radius);

  color: var(--colors-white);

  cursor: pointer;

  margin-left: 2em;
  margin-top: 1rem;

  outline: none;

  padding: 1rem 2rem;
}

/* -------------------------------------------------------------------------- */
/* ERROR */
/* -------------------------------------------------------------------------- */

.error {
  background-color: #f5f5f5;

  height: 100%;
  width: 100vw;

  display: grid;
  place-content: center;
  place-items: center;

  padding: 3rem;

  position: fixed;

  top: 0;
}

.error__image {
  height: auto;

  border-radius: 0.8rem;
}

.error__title {
  margin: 2rem 0;

  line-height: 1.5;

  text-align: center;
}

.error__content {
  text-decoration: underline;

  margin: 0;
}

/* -------------------------------------------------------------------------- */
/* SWEET ALERT */
/* -------------------------------------------------------------------------- */

.swal2-modal {
  font-size: 1em !important;
}
